[submodule "boxes"]
	path = boxes
	url = https://github.com/anud12/anud12.github.io_boxes.git
	branch = master
[submodule "anud12.github.io_boxes"]
	path = anud12.github.io_boxes
	url = https://github.com/anud12/anud12.github.io_boxes.git
	branch = master
[submodule "ui_base"]
	path = ui_base
	url = https://github.com/anud12/anud12.github.io_ui_base.git
[submodule "ui_compiler"]
	path = ui_compiler
	url = https://github.com/anud12/anud12.github.io_ui_compiler.git
[submodule "#job_base"]
	path = "#job_base"
	url = https://github.com/anud12/anud12.github.io_job_base.git
